@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'One Direction';
    src: url('fontes/OneDirection.ttf') format('truetype');
    font-weight: normal;
}

:root{
    --cor0:#093833;
    --cor1:#10625a;
    --cor2:#2d9a8f ;
    --cor3:#25b7a9 ;
    --cor4:#3ef5e0 ;
    --cor5:#caf8f1;

    --fonte-destaque: 'Kaushan Script', 'cursive';
    --fonte-padrao:'Bebas Neue', 'cursive',sans-serif;
    --fonte-onedirection: 'One Direction', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, #9fa3a2,#000000);
    font-family:var(--fonte-padrao);
    
}

p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
}

header{
    background-color:#000000;
    min-height: 300px;
    text-align: center;
    
}

header > h1 {
    color:white;
    font-family: var(--fonte-onedirection);
    padding-top: 40px;
    font-size: 10em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.686);
}

header > p {
    color:white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    
    /**/
    max-width: 1000px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 15px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    
}

nav {
    background-color: black;
    /**/
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 50px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: #262525;
    color:#313535;
    text-decoration: underline;
}

main {
    min-width: 30px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color:#000000 ;
    font-family: var(--fonte-onedirection);
    font-size: 1.8em;
    font-weight: bold;
}

main h2{
    font-family: var(--fonte-onedirection);
    color: #000000;
    font-size: 2em;
    font-weight: normal;
    background-image: linear-gradient(to right,var(--cor2), transparent);
}

main p {
    
  margin: 15px 10px;
  text-align: justify;
  text-indent: 10px;
  font-size: 1em;
  line-height: 1.5em;
}

main strong {
    color: #093833;
    font-weight: bold;
}

.linha { 

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color:#265c56;
    background-color: #caf8f1;
    padding: 2px 5px;
}

main a:hover{
    text-decoration: underline;
    color: #265c56;
}

main img {
    width: 100%;

}

main img.oned {
    max-width: 200px;
    display: inline-block;
    margin: auto;
}

div.video {
    background-color: #093833;
    
    padding: 10px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    padding: 10px;
    border-radius:10px;

}

aside > h3 {
   
    background-image: linear-gradient(to right,#2d9a8f, transparent);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color:#00000092;
    color: white;
    text-align: center;
    height: 30px;
    padding: 15px;
}

footer a{
    color: rgb(104, 104, 118);
    text-decoration: none;
    font-weight: bold;
}

footer a:visited{
    color: rgb(246, 236, 236);
}

footer a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bolder;
}
